nav h1{
    height: 40px;
    width: 40px ;
    border: 2px solid black;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 30px;
    background-image: url("https://cdn.vectorstock.com/i/preview-1x/58/85/letter-s-logo-vector-31975885.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    border-radius: 4px;
}

nav h2{
    margin-top: 12px ;
    margin-left: 10px;
    width: 90px;
}

nav h2 span{
    font-weight: light;
}

nav{
    display: flex;
    border: 2px solid black;
}

nav ul{
    display: flex;
    margin-left: 30px;
    
}
nav ul li{
    margin-top: 25px;
    margin-left: 30px;
    text-decoration: dashed;
    list-style-type:none ;
    font-weight: 600;
}

nav input{
  border-radius: 4px;
    height: 25px;
    width: 180px;
    margin-top: 30px;
    margin-left: 100px;
}

#frm{
    border-radius: 4px;
    height: 25px;
    width: 180px;
    margin-top: 30px;
    margin-left: 100px;

}

nav button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(204, 194, 194);
}

#sp{
    
    
    height: 15px;
    width: 15px;
    margin-left: 10px;

}

nav{
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
}

.first{
    
    width: 34%;
    height: 100%;


   
}   

#fir{
    position: static;
    top: 100px;
    width: 65%;

    
    
    
   
}

#im{
   
    height: 30%;
    width: 25%;
    display: inline-block;
    background-image:url("https://images.unsplash.com/photo-1579038773867-044c48829161?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWFuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 90px;
    left: 50px;
    border-radius: 100px;
    
   

}

#cont1{
    
    display: inline-block;
   height: 30%;
    width: 60%;
    
    
    margin-top: 13%;
    margin-left: 50px;

}
#big{
    
    display: flex;
    height: 120%;
    
      
}

.cov{
   margin-top: 25px;

}
#cov1{
    color: grey;
}

#cov1 a{
    color: red;
    text-decoration: underline;
}

#cov3{
    color: red;
}

.lead{
    margin-top: 10px;
    margin-left: 50px;
}

#link a{
    color: red;
    text-decoration: underline;
    margin-left: 50px;
    position: relative;
    top: 8%;
}

#im2{
    background-image: url("https://images.unsplash.com/photo-1622151834677-70f982c9adef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwd29ya2luZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-repeat: noreapeat;
    height: 20%;
    width: 20%;
    
    position: relative;
    top: 15%;
    left: 70px;
    display: inline-block;
    border-radius: 100px;
}

#cont2{
    
    height: 20%;
    width: 70%;
     position: relative;
     top: 12%;

    margin-left: 70px;
    display: inline-block;
}
h4{
    display: inline-block;
    margin-top: 38px;
}

#sp1{
    color: red;
}
#cov4{
    color: grey;
}
.sp2{
    color: black;
    
}
#cov3 a{
    color: black;
}

#sec{
    display: flex;
    border-radius: 80 px;
}

#second1{

    
    
     width: 70%;
     height:85%;
     margin-top: 20%;
     margin-right: 20%;
     background-color: gainsboro;
     


}
#second2{

    width: 30%;
    height: 15%;
    border-radius: 150px;

    position: relative;
    top: 5.5%;
    left: 40%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS1Jh_JOjLsRR5KMR8K-vI3bGr-5q4S_ZC6Cpbmmc&s");
     background-repeat: no-repeat;
     background-size: cover;
     overflow: hidden;
     

}

#second1 p{
    margin-top: 30%;
    margin-left: 15%;
    width: 65%;
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 5%;
    padding-left: 7%;
    border-radius: 4px;
}

#second1 h6{
    margin-top: 20%;
    margin-left: 5%;
    font-size:large;
    font-weight: bold;
}
#second1 h6 span{
    margin-left: 10%;
    font-size:large;
    font-weight: bold;
}

#second1 h5{
    margin-top: 20% ;
    margin-left: 5%;
    font-size: large;
    font-weight: lighter;
}

#second1 h5 a{
  color: red;
  text-decoration: underline;
}
#frm{
    margin-top: 30%;
}

#frm input{
    height: 7%;
    width: 70%;
    margin-left: 2%;
    border-radius: 2px;
    border: 1px solid white;
}
#frm button{
    height: 7%;
    margin-right: 3%;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 2px;
}